Internal Controls Overview 

Internal Controls provide the backbone of procedures for the Finance department. They give both the GAAP compliant 
principals for the orginization as well as the detail insuructions for transaction processing. Here they are
given in three segments

1) Principals
2) Policies, decisions, routines, standardized exceptions
3) Desk procedures for transaction processing
3a) detailed instructions, including screen captures


